iframe {
  width: 600px;
  height: 450px;
  display: block;
}

h2 {
  text-align: center;
}

a {
  text-decoration: none !important;
}

.directions {
  margin-top: 10em;
  background-color: antiquewhite;
}