iframe {
  width: 600px;
  height: 450px;
  display: block;
}

h2 {
  text-align: center;
}

a {
  text-decoration: none !important;
}

.directions {
  margin-top: 10em;
}

@media (max-width:685px) {
  .container {
    min-width: 2000em;
  }
}

@media (min-width:300px) {
  .container {
    min-width: 5000em;
  }
}