.background-rustic {
  background-image: url(./../images/rustic.png);
}


.wedding-card {
  width: 20em;
  padding-top: 3em;
  display: block;
  margin: 0 auto;
  border-radius: 15em;
}

@media (min-width: 420px) {
  .wedding-card {
    width: 22em;
  }
}

@media (min-width: 500px) {
  .wedding-card {
    width: 30em;
  }
}