.find-seat {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
  font-family: "Parisienne", cursive;
  font-size: 3.5em;
}

.guest-names {
  margin-block-start: none;
  list-style: none;
}
li {
  list-style: none;
  text-align: center;
}
