ul {
  list-style: none;
  margin-bottom: 2em;
  text-align: center;
  padding-inline-start: 0;
}

li,
.guest-names {
  list-style: none;
  text-align: center;
}

img {
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin: 0 auto;
  display: block;
}

html {
  background-image: url(./../images/rustic.png);
}


.col-4 {
  display: block;
  margin-bottom: 2em;
  margin-top: 2em;
  max-width: 20em;
  min-width: 15em;
  border-radius: 10px;
}

.container-flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  column-gap: 2em;
}

.beige {
  background-color: #cfc7bf;
}

.light-beige {
  background-color: #f1ebe5;
}

.table-number-heading {
  margin-top: 1em;
  text-align: center;
  font-size: 1.5em;
}


.col-12 {
  margin-top: 7em;
  display: block;
}

@media (max-width: 460px) {
  img {
    width: 5em;
  }
}

@media (max-width: 560px) {
  img {
    width: 10em;
  }
}

@media (max-width: 600px) {
  img {
    width: 20em;
  }
}

@media (max-width: 840px) {
  img {
    max-width: 30em;
  }
}

@media (max-width: 1100px) {
  .col-12 {
    margin-top: 5em;
  }
}